.content-block {
/*  min-width: 320px;*/
  padding: 20px;
  text-align: center;
}

.content-block__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

}

.content-block__text {
  padding: 0;
  margin: 0;
}

/*кнопку в отдельном  лесс файле делать?*/
.btn {
  display: block;
  text-decoration: none;
  padding: 20px 47px;
  margin: 10px auto 10px auto;
  background-color: #81b3d2;

  color:#fff;
  width: 280px;
  height: 58px;
}

.btn:hover {
  background-color: #799cbd;
}

.btn:active {
  background-color: #6c94ba;
  color:#a0b8d0;
}

.btn:disabled {
  background-color: #e4e4e4;
  color:#fff;
}
