.content-block {
  display:flex;
  flex-direction: column;
  align-items: center;

  min-width: 320px;
  padding: 0 20px;
}


.content-block__title {
  text-align: center;
}

.content-block__text {
  text-align: center;
}
