.content-block {
  padding: 50px 20px 55px;
  text-align: center;
  width: 100%;
  position: relative;
}

.content-block--main,
.content-block--main-photo{
  padding-bottom: 5px;
}

.content-block--main {
  position: relative;
}

.content-block--main::after {
  content:"";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 37px;
  background: url("../img/bg-triangle.svg") center center no-repeat;
  background-size: 100% 37px;
}

.content-block__title {
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  max-width: 490px;
}

.content-block {
  &--main .content-block__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  }

  &--main-photo .content-block__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  }

  &--feedback .content-block__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

}

.content-block__text {
  margin: 0 auto 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 490px;
}

.content-block__text br {
  display: none;
}

@media (min-width: 768px) {
  .content-block {
    margin:0 auto;
  }

  .content-block--main::after {
    display: none;
  }

  .content-block--feedback .content-block__wrapper {
    max-width: 445px;
    margin:0 auto;
  }

  .content-block__text br {
    display: inline-block;
  }

  .content-block__wrapper {
    width: 457px;
    margin: 0 auto;
  }

  .content-block--main .content-block__wrapper,
  .content-block--main-photo .content-block__wrapper {
    width: 100%;
  }

  .content-block__text {
    margin: 0 auto 50px;
  }

  .content-block--video-intro {
    padding: 65px 17.7% 25px;
  }

  .content-block {
    &--main .content-block__title {
      font-size: 21px;
    }

    &--main-photo .content-block__title {
      font-size: 30px;
    }

    &--video-intro {
      font-size: 30px;
    }

  }

  .content-block--find-hotel .content-block__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
}
