.features {
	background-color: #81b3d2; 
 }

 .features__img {
 	width: 320px;
 	height: 260px;
 }

 .features__img--feat1 {
 	background: url("../img/photo-city-mobile@1x.jpg");
 }

 .features__img--feat2 {
  	background: url("../img/photo-bridge-mobile@1x.jpg");
 }