.header-nav {
  margin:0;
  position: relative;
}

.header-nav__list {
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #81b3d2;
}

.header-nav__link {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding: 7px;
  text-align: center;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  background-color: #81b3d2;
}

.header-nav__link[href]:hover {
  background-color: #799dbd;
}

.header-nav__link[href]:active {
  background-color: #6c95ba;
  color:#9db6cf;
}

.header-nav__menu-btn {
  height: 23px;
  width: 23px;
  font-size: 0;
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  padding: 0;
  margin: 0;
  top: 17px;
  right: 20px;

  & .icon-menu {
    fill:#81b3d2;
  }

  & .icon-cross {
    fill: #fff;
  }
}

.icon-menu {
  display: none;
}

@media(max-width: 767px){
  .header-nav__menu-btn--closed {
    & .icon-menu {
      display: block;
    }

    & .icon-cross {
      display: none;
    }
  }

  .header-nav__menu-btn--closed + .header-nav__list {
    display: none;
  }
}

.header-nav__menu-btn:hover {
  & .icon-menu {
  fill:#81b3d2;
  }

  & .icon-cross {
    fill:#fff;
  }
}

.header-nav__menu-btn:active {

  & .icon-menu {
    fill:#81b3d2;
  }

  & .icon-cross {
    fill:#fff;
  }
}

@media (min-width: 768px) {
  .header-nav__list {
    display: flex;
    background-color: #fff;
  }

  .header-nav__menu-btn {
    display: none;
  }

  .header-nav__item {
    width: 20%;
  }

  .header-nav__item:nth-child(2) {
    margin-right: auto;
  }

  .header-nav__item:nth-child(3) {
    margin-left: auto;
  }

  .header-nav__link {
    color:#000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 15px;
    background-color: #fff;
    border: none;
  }

  .header-nav__link[href]:hover {
    color: #90b1d0;
    background-color: #fff;
  }

  .header-nav__link[href]:active {
    color:#706358;
    background-color: #fff;
  }

  .header-nav__link[href]:active:hover{
    color:#5c4f45;
  }
}

@media (min-width: 1200px) {

}
