.other-features {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.other-features__title,
.other-features {
  text-align: center;
}
