.page-footer {
  text-align: center;
  padding-top: 40px;
}

.page-footer__tag {
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__link {
  text-decoration: none;
  color: black;
}


.page-footer__link span {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 35px;
  background: url("../img/htmlacademy.svg") 0 0 no-repeat;
  font-size: 0;
  color: black;
}
