.page-footer {
  text-align: center;
  padding-top: 40px;
  .container();
}

.page-footer__tag {
  margin: 0;
}

.page-footer__link,
.page-footer__copyright-link {
  text-decoration: none;
  color: black;
}

.page-footer__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.page-footer__copyright-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.page-footer__copyright-link span {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 35px;
  font-size: 0;
  color: black;

  & svg {
    fill:#000;
  }
}

.page-footer__copyright-link:hover svg {
  fill:#90b2d0;
}

.page-footer__copyright-link:active svg {
  fill:#b2b2b2;
}

@media (max-width: 767px){
  .page-footer__tag {
  margin: 0;
  margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-footer{
    display: flex;
    align-items: center;
    padding: 35px 60px 35px 60px;
  }

  .page-footer__tag {
    width: 30%;
  }

  .page-footer__copyright{
    width: 30%;
  }

}

@media (min-width: 1200px) {
  .page-footer{
    display: flex;

    align-items: center;
    padding-left: 130px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .page-footer__tag {
    width: 30%;
  }

  .page-footer__copyright{
    width: 30%;
  }
}
