
.page-header {
  position: relative;
  text-align: center;
}

.page-header__logo-block {
  margin: 0 auto;
  padding:0;
  /*text-align: center;*/

}

.page-header__logo-link {
  display: inline-block;
  vertical-align: middle;
  height: 56px;
}

.page-header__menu-btn {
	height: 28px;
	width: 32px;
	font-size: 0;
	background:  url("../img/icon-menu.svg") 0 0 no-repeat;
	border: none;
  position: absolute;
  top: 14px;
  right: 0;
}
