.photo-post {
  .container();

  &__title-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }
}

.photo-post__img-link,
.photo-post__title-link,
.photo-post__author-link {
	text-decoration: none;
	color:black;
}

.photo-post__img-link {
  display: block;
  width: 100%;

}

.photo-post__author {
  text-transform: none;
}

.photo-post__btn-like {
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  line-height: 24px;

  & svg {
    fill: #a9a9a9;
  }
}

@media (max-width: 767px) {
  .photo-post {
    min-width: 320px;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
  }

  .photo-post:first-child {
    border-top: 1px solid #e5e5e5;
  }

  .photo-post__img {
    width: 100%; /*здесь картинка должна тянуться на ширину блока? некрасиво растягивается*/
  }

}


@media (min-width: 768px) and (max-width: 1199px) {
  .photo-post {
    width: 50%;
    margin:0;
  }

  .photo-post:nth-child(2n-1) {
    background-color: #f2f2f2;
  }

  .photo-post--full {
    width: 100%;
  }

  .photo-post__img {
    width: 100%;
  }

  .photo-post__content {
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
  }

  .photo-post__title-block {
    width: 80%;
  }

}


@media (min-width: 1200px) {
  .photo-post {
    position: relative;
    margin: 0;
    flex-grow: 1;
  }

  .photo-post--full {
    width: 100%;
  }

  .photo-post__img {
    width: 100%;   /*Почему ссылка photo-post__img-link вылазием снизу изображения на 3 пикселя? как убрать?*/
  }

  .photo-post__btn-like {

    & svg {
      fill: #fff;
    }
  }


  .photo-post__content {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
  }

  .photo-post__title-link,
  .photo-post__author-link {
    color: #fff;
  }

  .photo-post__title-block {
    width: 80%;
  }

  .photo-post__btn-like {
    color:#fff;
  }

}
