.social {
	list-style: none;
}

.social__item {
	display: inline-block;
	vertical-align: top;
}

.social__link {
	display: block;
	height: 48px;
	width: 48px;
	background-color: #81b3d2;
	font-size: 0;

	&--twitter {
		background: #81b3d2 url("../img/icon-twitter.svg") center center no-repeat;
	}

	&--facebook {
		background: #81b3d2 url("../img/icon-facebook.svg") center center no-repeat;
	}

	&--youtube {
		background: #81b3d2 url("../img/icon-youtube.svg") center center no-repeat;
	}


}