.sub-features {
  padding: 40px;
}

.sub-features__block {
  position: relative;
}

.sub-features__block:last-child {
  margin-bottom: 0;
}

.sub-features__block::before {
  content: "";
  position: absolute;
  display: block;
}

.sub-features__block--lodging::before {
  background: url("../img/icon-house.svg") center center no-repeat;
  background-size: cover;
}

.sub-features__block--food::before {
  background: url("../img/icon-burger.svg") center center no-repeat;
  background-size: cover;
}

.sub-features__block--souvenirs::before {
  background: url("../img/icon-gift.svg") center center no-repeat;
  background-size: cover;
}

.sub-features__title {
  margin: 0;
  margin-bottom: 20px;
}

.sub-features__desc {
  margin:0;
}

@media (max-width: 767px) {

  .sub-features__block {
    margin-left: 30px;
    margin-bottom: 40px;
  }

  .sub-features__block::before {
    width: 38px;
    height: 38px;
    top: -10px;
    left:-50px;
  }

  .sub-features__block--souvenirs::before {
    width: 34px;
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .sub-features {
    display: flex;
    padding: 165px 45px 65px 45px;
    justify-content: space-between;
  }

  .sub-features__block {
    width: 33%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    text-align: center;
  }

  .sub-features__block::before {
    content: "";
    position: absolute;
    display: block;
    width: 76px;
    height: 76px;
    top: -105px;
    left: 50%;
    margin-left:-38px;
  }

  .sub-features__block--lodging {
    background: url("") center center no-repeat;
  }

  .sub-features__block--souvenirs {
    background: url("") center center no-repeat;

    order: 2;
  }

  .sub-features__block--souvenirs::before {
    width: 66px;
    height: 76px;
  }

  .sub-features__block--food {
    background: url("") center center no-repeat;
  }

}

@media (min-width: 1200px) {
  .sub-features {
    .container();
    display: flex;
    padding: 165px 45px 65px 45px;
    justify-content: space-between;
  }

  .sub-features__block {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    width: 33%;
    position: relative;
    text-align: center;
  }

  .sub-features__block::before {
    content: "";
    position: absolute;
    display: block;
    width: 76px;
    height: 76px;
    top: -105px;
    left: 50%;
    margin-left:-38px;
  }

  .sub-features__block--lodging {
    background: url("") center center no-repeat;
  }

  .sub-features__block--souvenirs {
    background: url("") center center no-repeat;

    order: 2;
  }

  .sub-features__block--souvenirs::before {
    width: 66px;
    height: 76px;
  }

  .sub-features__block--food {
    background: url("") center center no-repeat;
  }
}
