.welcome-block {
	height:390px;
	background: url("../img/bg-back-mobile@1x.jpg") center center no-repeat;
	padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome-block--short {
	height: 160px;
	padding-top: 50px;
}

.welcome-block h1 {
	font-size: 0;
}

.welcome-block--short h1 {
  background: url("../img/text-sedona.svg") center center no-repeat;
  background-size: cover;
  height: 40px;
  width: 230px;
  margin: 0 auto;
}

.welcome-block__p-one {
	margin: 0 auto;
	font-size: 0;

  height: 214px;
  width: 280px;
	background: url("../img/text-sedona-index.svg") center center no-repeat;
  background-size: cover;
}

.welcome-block__p-two {
	color: #fff;
	text-transform: none;
	font-size: 0px;
}

