.welcome-block {
	height:390px;
	background: url("../img/bg-back-mobile@1x.jpg") center center no-repeat;
	padding-top: 90px;
}

.welcome-block--short {
	height: 160px;
	padding-top: 50px;
}

.welcome-block h1 {
	font-size: 0;
	background:url("../img/text-sedona.svg") center center no-repeat;
	height: 80px;
}

.welcome-block__p-one {
	margin: 0 auto;
	font-size: 0;
	height: 390px;
	background: url("../img/text-sedona-index.svg") center center no-repeat;
}

.welcome-block__p-two {
	color: #fff;
	text-transform: none;
	font-size: 0px;

}

