.welcome-block {
  width: 100%;
  background: url("../img/bg-back-mobile@1x.jpg") center center no-repeat;
  background-size: cover;
}

@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .welcome-block {
    background: url("../img/bg-back-mobile@2x.jpg") center center no-repeat;
  }
}

.welcome-block h1 {
  font-size: 0;
}

.welcome-block__p-two {
  color: #fff;
  text-transform: none;
  font-size: 0px;
}


.welcome-block {
  padding-top: 90px;
  height:390px;
}

.welcome-block__p-one {
  margin: 0 auto;
  font-size: 0;
  height: 215px;
  width: 282px;
  background: url("../img/text-sedona-index.svg") center center no-repeat;
  background-size: cover;
}

.welcome-block--short {
  height: 160px;
  padding-top: 50px;
}

.welcome-block--short h1 {
  background: url("../img/text-sedona.svg") center center no-repeat;
  background-size: cover;
  height: 40px;
  width: 230px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .welcome-block {
    padding-top: 75px;
    height: 520px;
    width: 100%;
    background: url("../img/bg-back-tablet@1x.jpg") center center no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .welcome-block {
      background: url("../img/bg-back-tablet@2x.jpg") center center no-repeat;
    }
  }

  .welcome-block__p-one {
    margin: 0 auto;
    font-size: 0;
    height: 355px;
    width: 470px;
    background: url("../img/text-sedona-index.svg") center center no-repeat;
    background-size: cover;
  }

  .welcome-block--short {
    height: 290px;
    padding-top: 100px;
  }

  .welcome-block--short h1 {
    background: url("../img/text-sedona.svg") center center no-repeat;
    background-size: cover;
    height: 80px;
    width: 460px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .welcome-block {
    padding-top: 75px;
    height: 520px;
    background: url("../img/bg-back-desktop@1x.jpg") center center no-repeat;
  }

  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .welcome-block {
      background: url("../img/bg-back-desktop@2x.jpg") center center no-repeat;
    }
  }

  .welcome-block__p-one {
    margin: 0 auto;
    font-size: 0;
    height: 355px;
    width: 470px;
    background: url("../img/text-sedona-index.svg") center center no-repeat;
    background-size: cover;
  }

   .welcome-block--short {
    height: 300px;
    padding-top: 100px;
  }

  .welcome-block--short h1 {
    background: url("../img/text-sedona.svg") center center no-repeat;
    background-size: cover;
    height: 80px;
    width: 462px;
    margin: 0 auto;
  }
}
